#logo{
     height:40px;
     width:1500px;
     background-color: black;
     color:aliceblue;
     margin-right:200px;

}
#tech{
    margin-right: 800px;
    color:white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color:white;
    margin-left:7px;
}
.hero{
    background-color:#f8fff9;
}
.btngreen{
    color:black;
    background-color: blueviolet;
}
.btnlight{
    color:black;
    background-color: blueviolet;
}
.btngreen1{
    color:white;}
    
.btnlight1{
    color:white;
    
}
button{font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:bisque;}
.buttons{
    color: black;
    background-color: ;
}